body {
    background-image: url("foggyforest.jpg"); background-size: cover; 
    color: black; font-family: Arial, sans-serif; 
  }
  h1 {
    font-size: 3rem; text-align: center;
  }
  img {
    position: fixed;
    top: 25px;
    right: 50px; 
    width: 300px;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 2rem;
  }
  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
  }
  tr:nth-child(odd) {
    background-color: #dddddd;
    border: 1px solid black;
  }
  tr:nth-child(even) {
    background-color: gray;
    border: 1px solid black;
  }
  td {
   font-size: 1.5rem; 
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  ul {
    font-size: 1.5rem;
  }
  .bold {
    color: red; font-weight: bold;
  }