body {
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-size: 50px;
    color: plum;
    font-weight: bolder;
    text-align: center;
    padding-top: 1cm;
}
.instruction {
    background-color: papayawhip;
    width: 100%;
}
.instruction p {
    font-size: 30px;
    font-family: monospace;
    color: purple;
    text-align: center;
}
.instruction a {
    font-size: 15px;
    color: grey;
    font-weight: bolder;
    padding-left: 3rem;
}
.questions {
    text-align: center;
    margin: 2rem;
}
.questions strong {
    font-weight: bolder;
}
.questions input {
    background-color: #51a9ab;
    padding: 20px;
    max-width: 300px;
    border-radius: 60px;
    position: relative;
    justify-content: center;
    border: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.questions input:hover {
    background-color: lightseagreen;
    border: none;
}
